@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Thambi+2&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');

/*
font-family: 'Baloo Thambi 2', cursive;
font-family: 'Nunito', sans-serif;
font-family: 'Open Sans', sans-serif;
*/

html, body {
    height: 100%;
    width: 100%;
}

html, body, p, a, h1 {
    margin : 0;
    padding : 0;
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.4vw;
    color: #212322;
    background: #6A93CA;
}

h1 {
    font-family: 'Baloo Thambi 2', cursive;
    font-size: 5vw;
}

h2 {
    font-family: 'Montserrat', sans-serif;
}

a, a:visited, a:link, a:hover, a:active {
    color: #212322;
    transition: 350ms;
}

header {
    display: flex;
    align-items: center;
    position: fixed;
    font-family: 'Montserrat', sans-serif;
    font-size: 2vw;
    transition: 350ms;
}

header img {
    width: 20%;
    transition: 350ms;
}

header a:hover {
    color: white;
    cursor: pointer;
}

.scrolled {
    background: white;
    font-size: 1.4vw;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}

.scrolled img {
    width: 15%;
}

.scrolled a:hover {
    color: #6A93CA;
}

nav {
    width: 50%;
    display: flex;
    margin-left: 2vw;
}

ul {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

ul, a {
    text-decoration: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

main {
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20vh;
}

hr {
    border-top: 0.4vw solid #6A93CA;
    box-sizing: border-box;
    width: 60vw;
    margin: 2vw 0;
}

.fail {
    display: none;
    text-align: center;
    font-size: 1.5vw;
    color: #EE5340;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1vw;
    font-size: 1vw;
}

