@media only screen and (max-width: 400px) {

    body {
        font-size: 5vw;
    }

    header {
        font-size: 3.4vw;
    }

    .scrolled {
        font-size: 3vw;
    }

    .scrolled img {
        width: 20%;
    }

    nav {
        width: 70%;
    }

    h1 {
        font-size: 10vw;
    }

    footer {
        font-size: 2.5vw;
    }
}
