@import "global.css";
@import "global_media_query.css";

#top {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: #6A93CA;
    margin-bottom: 3vw;
    height: 80vh;

}

#top div {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#top img {
    width: 45%;
    border-radius: 0.8vw;
}

#about, #location, #classes, #company, #contentCompany div, #sports {
    display: flex;
    flex-direction: column;
}

#location, #classes {
    width: 30vw;
}

#about section {
    justify-content: center;
    align-items: center;
    width: 60vw;
    margin-bottom: 2vw;
}

#location p {
    margin-top: 2vw;
    text-align: justify;
}

#location p, #company p, #company li {
    font-size: 1.2vw;
}

#location iframe {
    height: 20vw;
}

#classes, #contentCompany div {
    align-items: center;
}

#classes p {
    text-align: center;
}

#classes img {
    width: 4vw;
    margin-top: 1vw;
    margin-bottom: 1vw;
}

p i {
    font-size: 0.8vw
}

#company img {
    width: 25vw;
    border: #6A93CA solid 0.1vw;
    border-radius: 0.5vw;
}

#logo_recrutonsensemble {
    margin-bottom: 1vw;
    padding: 1vw;
}

#contentCompany {
    justify-content: space-between;
    align-items: center;
    width: 60vw;
}

#contentCompany div, #contentCompany p {
    width: 28vw;
}

#contentCompany a {
    font-weight: bold;
}

#contentCompany a:hover, #list_projects a:hover, .divProject a:hover {
    color: #6A93CA;
}

#contentCompany p {
    text-align: justify;
}

#contentCompany ul {
    flex-direction: column;
    margin-top: 1vw;
    margin-left: 7vw;
    list-style-type: disc;
}

#sports img {
    width: 20vw;
    border-radius: 0.8vw;
}

.puzzle_picture div {
    flex-direction: column;
    width: 100%;
    margin-top: 2vw;
}

#sports p {
    margin-top: 2vw;
    margin-bottom: 2vw;
}

.puzzle_picture {
    flex-direction: row;
}

#first_div_puzzle {
    margin-right: 1.5vw;
    align-items: flex-end;
}

#bike img {
    width: 15vw;
}

#projects {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#list_projects {
    width: 60vw;
    justify-content: space-around;
}

.divProject {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    border-radius: 1vw;
    padding: 1vw;
    width: 27vw;
    height: 30vw;
}

.divProject p {
    font-size: 1.3vw;
    height: 38%;
}

.divProject a {
    cursor: pointer;
    font-size: 1.3vw;
    font-weight: bold;
}

.divProject img {
    max-width: 25vw;
    max-height: 31%;
    margin-bottom: 1vw;
    border: 0.1vw solid #212322;
}

.divBigProject {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    border-radius: 1vw;
    padding-bottom: 2vw;
    width: 60vw;
    background: white;
}

#project_description_div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 24vw;
}

#project_description_text {
    margin-bottom: 2vw;
    font-size: 1vw;
    text-align: initial;
}

#ressources {
    font-style: italic;
}

#projectLanguages img {
    min-width: 2vw;
    max-height: 3vw;
}

#imgs_project img {
    max-height: 15vw;
    max-width: 28vw;
    margin-right: 1.5vw;
    margin-bottom: 1vw;
    border: 0.1vw solid #212322;
}

#change_page {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 1vw;
    font-size: 1vw;
}

#change_page img {
    width: 1.5vw;
    cursor: pointer;
}

#contact, #contact div, #about section, #contentCompany, #sports div, #list_projects {
    display: flex;
}

#findMe div {
    align-items: center;
    margin-top: 2vw;
}

#contact section {
    display: flex;
    flex-direction: column;
    width: 30vw;
}

#contact img {
    width: 4vw;
    margin-right: 1vw;
}

#contact a {
    transition: 200ms;
}

#contact a:hover {
    color: #6A93CA;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 3vw;
    width: 30vw;
}

input[type="text"], input[type="email"], textarea {
    width: 100%;
    color: #6A93CA;
    padding: 0.8vw;
    border: 0.1vw none #ccc;
    border-bottom-style: solid;
    box-sizing: border-box;
    margin-bottom: 1.5vw;
    resize: vertical;
    font-size: 0.9vw;
    font-family: 'Nunito', sans-serif;
}

label {
    width: 100%;
    font-size: 1vw;
    opacity: 0;
}

input[type="submit"] {
    background-color: #6A93CA;
    text-decoration: none;
    color: white;
    padding: 0.6vw 1.5vw;
    margin-top: 1vw;
    border: none;
    border-radius: 0.4vw;
    cursor: pointer;
    font-size: 1.4vw;
    transition: 300ms;
}

input[type="submit"]:hover {
    background-color: black;
}

@media only screen and (max-width: 960px) {
    #top {
        flex-direction: column;
        width: 100%;
    }

    #top div {
        width: 87%;
        height: 40vh;
    }

    #top img {
        width: auto;
        height: 100%;
        border-radius: 3vw;
    }

    #contact, #contact div, #about section, #contentCompany, #sports div, #list_projects {
        flex-direction: column;
        align-items: center;
        width: 89%;
    }

    #about, #location, #classes, #company, #contentCompany div, #sports {
        align-items: center;
    }

    #location, #classes {
        width: auto;
    }

    #location iframe {
        height: 70vw;
        margin-bottom: 2vw;
    }

    #location p, #company p, #company li {
        font-size: initial;
    }

    #classes img {
        width: 11vw;
        margin-top: 2vw;
        margin-bottom: 2vw;
    }

    p i {
        font-size: 3.5vw;
    }

    #contentCompany {
        width: 100%;
    }

    #contentCompany div, #contentCompany p {
        width: auto;
    }

    #company img {
        width: 60vw;
    }

    #sports img {
        width: 50vw;
    }

    #bike img {
        width: 30vw;
    }

    .puzzle_picture div {
        margin-top: 0;
    }


    .divProject {
        width: 80vw;
        height: 60vw;
        margin-bottom: 4vw;
    }

    .divProject h3 {
        font-size: 4.5vw;
    }

    .divProject p {
        font-size: 3.3vw;
    }

    .divProject a {
        font-size: 3vw;
    }

    .divProject img {
        max-height: 30%;
    }

    .divBigProject {
        width: 90vw;
    }

    .divBigProject h2 {
        font-size: 5vw;
    }

    #project_description_div {
        width: 45vw;
    }

    #project_description_text {
        font-size: 2.5vw;
    }

    #ressources {
        font-size: 3vw;
    }

    #projectLanguages img {
        max-height: 6vw;
    }

    #imgs_project img {
        max-height: 30vw;
        max-width: 30vw;
    }

    #change_page {
        font-size: 4vw;
    }

    #change_page img {
        width: 5.5vw;
    }


    #contact section {
        width: auto;
        align-items: center;
    }

    #contact div {
        flex-direction: row;
        justify-content: center;
    }

    #contact img {
        width: 10vw;
    }

    form {
        width: 80%;
    }

    label {
        font-size: 4vw;
    }

    input[type="text"], input[type="email"], textarea {
        font-size: 3.9vw;
    }

    input[type="submit"] {
        font-size: 5vw;
        border-radius: 1.5vw;
        padding: 2.6vw 3.5vw;
    }

    #g-recaptcha {
        transform: scale(0.7);
        width: 100%;
    }
}

@media only screen and (min-width: 960px) {
    #top img {
        height: auto;
    }
}

